#etcd-service in /lib/systemd/system/
[Unit]
Description={{ ansible_hostname}} service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/
ExecStart=etcd --name {{ ansible_hostname }} --initial-advertise-peer-urls http://{{ ansible_eth0.ipv4.address }}:2380 \
      --listen-peer-urls http://{{ ansible_eth0.ipv4.address }}:2380 \
      --listen-client-urls http://{{ ansible_eth0.ipv4.address }}:2379,http://127.0.0.1:2379 \
      --advertise-client-urls http://{{ ansible_eth0.ipv4.address }}:2379 \
      --initial-cluster-token etcd-cluster-1 \
      --initial-cluster etcdNode-0=http://{{ ansible_eth0.ipv4.address }}:2380 \
      --initial-cluster-state new

Restart=on-failure

[Install]
WantedBy=multi-user.target