#etcd-service in /lib/systemd/system/
[Unit]
Description=etcdNode-0 service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/etcd
ExecStart=/usr/local/bin/etcd --name etcd --initial-advertise-peer-urls http://{{ etcdNode0_ip }}:2380 \
      --listen-peer-urls http://{{ etcdNode0_ip }}:2380 \
      --listen-client-urls http://{{ etcdNode0_ip }}:2379,http://127.0.0.1:2379 \
      --advertise-client-urls http://{{ etcdNode0_ip }}:2379 \
      --initial-cluster-token etcd-cluster-1 \
      --initial-cluster infra0=http://{{ etcdNode0_ip }}:2380 \
      --initial-cluster-state new

Restart=on-failure

[Install]
WantedBy=multi-user.target